.container {
  background: rgba(255, 255, 255, 0.8);
  height: 80vh;
  position: fixed;
  width: 420px;
  opacity: 0.9;
}
.header {
  background-color: #3da577;
  padding: 10px;
  color: white;
  width: 100%;
  float: left;
  opacity: 1;
}

.header p {
  float: left;
  margin-top: 8px;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
  font-size: 21.3889px;
}

button {
  border: none;
  background-color: white;
  padding: 5px;
  width: 100%;
}
.buttonActive {
  background-color: rgba(4, 16, 18, 0.25);
}

.dailyNotes {
  background-color: #806bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.dailyNotes img {
  padding: 10px;
}
.dailyNotesFont {
  color: #806bff;
  float: left;
  margin-top: 6px;
}
.bookMarks {
  background-color: #ff6b6b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.bookMarks img {
  padding: 10px;
}
.bookMarksFont {
  color: #ff6b6b;
  float: left;
  margin-top: 6px;
}
