.container {
  height: 80vh;
  position: fixed;
  width: 700px;
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.8);
}

.inputContainer {
  width: 700px;
  background: white;
  height: 70px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  opacity: 1;
}

.inputs {
  position: fixed;
  bottom: 0%;
  height: 60px;
  width: 700px;
  padding: 8px;
  margin-left: 22px;
  margin-bottom: 87px;
}

input {
  width: 87%;
  color: black;
}

input[type="text"] {
  border: none;
  border-radius: 8px;
  background-color: rgba(4, 16, 18, 0.25);
  padding: 8px;
}

input:focus {
  outline: none;
}

.buttonIcon {
  background-color: #3da577;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-left: 35px;
  position: fixed;
  bottom: 0%;
  opacity: 1;
  margin-bottom: 100px;
}
img {
  margin-bottom: 4px;
  margin-left: 2px;
}

button {
  background: none;
}
